<%- include ("partials/header") %>

<!-- HEADER -->
        <div id="page" class="page">
        <div class="mainImage jumbotron jumbotron-fluid text-center">
                <nav id="navbar" class="navbar navbar-expand-lg navbar-dark navbar-toggler">
                        <a class="navbar-brand" href="#page">Maria Pop</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav">
                            <li class="nav-item">
                              <a class="nav-link" href="#containerContent">About</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#projects">Projects</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#contactme">Contact Me</a>
                            </li>
                            <!-- <li class="nav-item">
                              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li> -->
                          </ul>
                        </div>
                </nav>
            <h1 id="nameTitle" class="display-1">Maria Pop</h1>
            <p id="description" class="lead display-4">Web Developer</p>
            <p></p>
            <div class="wrapper">
                    <h1 id="arrtitle">Jump to content</h1>
                    <a id="" href="#containerContent">  <!-- Link to your content ID -->
                      <div id="arrow-down">
                        <i class="fas fa-chevron-down"></i>
                      </div>
                    </a>
            <!-- <a id="chevronBtn" class="btn btn-lg" href="#" role="button"><i class="fas fa-chevron-down"></i></a> -->
            </div>
        </div>
        <!-- Biography -->
        <div id="containerContent" class="container biography">
            <div id="area">
                <h3 class="display-4 titles">Hi! My name is Maria.</h3>
                <p>I am a fullstack developer based in UK. I've always been a creative person who loves to bring ideas to life. Being passionate about web development I tend to give 110% to every project while I keep learning new skills and technologies everyday.</p>
                <hr class="my-4">
                <h3 class="display-4 titles">My Biography</h3>
                <p>A young web developer focused on Front End Web Development with the right set of skills, passion, knowledge, patience and interest to create projects that will make potential customers happy.</p>
                <p>I am on the other hand an active person who likes reading, travelling and cats. <img id="catpic" src="https://www.westhillvet.com/wp-content/uploads/sites/3/2018/01/Screen-Shot-2018-01-29-at-1.46.36-PM.png" alt=""></p> 
            </div>
            <img id="imgMe" class="img-fluid" src="/images/me2.jpg" alt="">
        </div>
        <div>
            <div class="container-fluid text-center">
                <hr class="my-4">
                <h3 class="display-5">Achievements</h3>
                <hr class="my-4">
            </div>
        </div>
        <!-- Achievements -->
        <div class="jumbotron-fluid text-center">
            <div class="container-fluid  achievements">
                    <div class="item1">
                        <h3 id="cert1">MTA: Software Development Fundamentals - Certified 2017</h3>
                        <p>
                        <img class="minilogo" src="/images/Microsoft_logo.svg" class="ui avatar image"> Microsoft
                        </p>
                    </div>
                    <div class="item2">
                        <h3 id="cert2">CIW Advanced HTML5 & CSS3 Specialist eCertificate</h3>
                        <p>
                            <img class="minilogo" src="/images/CIW-Logo-1.png" class="ui avatar image"> Certification Partners (CIW)
                        </p>
                    </div>
            </div>
        </div>
        <!-- Projects -->
        <div>
            <div id="projects" class="container-fluid text-center">
                <hr class="my-4">
                <h3 class="display-5">Projects</h3>
                <hr class="my-4">
            </div>
        </div>
            <div class="container projects">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/proj3.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/proj1.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/proj4.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        <div>
        <!-- Message for people interested -->
        <div class="container">
            <div class="">
                <p></p>
            </div>
        </div>
            
        </div>

<%- include ("partials/footer") %>
